body {
    background-image: url("../images/universe.gif");
    background-attachment: fixed;
    background-size: cover;
}

.navigation-container {
    background-color: transparent;
    position: relative;
}

.navigation {
    padding: 40px;
}

.navigation-link {
    color: black;
}

.large-label {
    width: 100%;
    margin-top: 20%;
    opacity: 0.7;
    position: absolute;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 114pt;
    font-weight: bold;
    color: white;
    text-align: center;
}

.img-holder {
    width: 100%;
    height: 100%;
}

.unselectable {
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.link-container::before {
    width: 100%;
    content: "";
    display: block;
    height: 450px;
    position: absolute;
    top: 35%;
    -webkit-transform: skewY(5deg);
    -moz-transform: skewY(5deg);
    -ms-transform: skewY(5deg);
    -o-transform: skewY(5deg);
    transform: skewY(5deg);
    background-color: black;
    z-index: 2;
}

.link-container {
    width: 100%;
    height: 150px;
    background-color: transparent;
    position: fixed;
    margin-top: 100%;
    text-align: center;
    bottom: 0;
}

span.link-container-sp {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12pt;
    font-weight: bold;
    position: absolute;
    margin-top: 120px;
    margin-left: -10px;
    opacity: 0.7;
    transition: .5s;
    z-index: 3;
}

a.link-container-text {
    text-decoration: none;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20pt;
    font-weight: bold;
    position: absolute;
    margin-top: 80px;
    margin-left: -60px;
    opacity: 0.7;
    transition: .5s;
    z-index: 3;
}

a.link-container-text:hover {
    opacity: 1;
    transition: .5s;
}

#backshape {
    z-index: 1;
    display: block;
    float: left;
    margin-top: -100px;
    width: 100%;
    background: rgba(0, 0, 0, 0.45);
    transform: skew(0deg, 5deg);
    -ms-transform: skew(0deg, 5deg);
    -webkit-transform: skew(0deg, 5deg);
}

#backshape .wrapper {
    display: block;
    float: left;
    margin: 500px auto 200px;
    width: 100%;
    padding: 0 5%;
    color: white;
}

.wp-element {
    text-align: center;
    font-size: 70pt;
    bottom: 15%;
    opacity: 0.8;
    position: absolute;
}