body {
    background-image: url("../images/universe.gif");
    background-attachment: fixed;
    background-size: cover;
}

.navigation-container {
    background-color: transparent;
    position: relative;
}

.navigation {
    padding: 40px;
}

.navigation-link {
    color: black;
}

.large-label {
    width: 100%;
    margin-top: 20%;
    opacity: 0.7;
    position: absolute;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 114pt;
    font-weight: bold;
    color: white;
    text-align: center;
}

.img-holder {
    width: 100%;
    height: 100%;
}

.unselectable {
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#menu {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    z-index: 5;
    margin-top: 7%;
}

#menu::before {
    content: '';
    background-color: rgba(0, 0, 0, 0.5);
    padding: 3999px;
    z-index: 4;
}

#menu.show {
    display: inline;
}

button.menu-element {
    opacity: 1;
    display: block;
    background-color: transparent;
    border: none;
    margin-left: 3%;
    font-size: 18pt;
    font-weight: bold;
    color: white;
    opacity: 0.8;
    text-decoration: none;
    z-index: 6;
}

button.menu-element:hover {
    opacity: 1;
}

iframe {
    width: 70%;
    height: 80%;
    margin-top: -120px;
    margin-right: 80px;
    float: right;
    border: none;
}

.link-container::before {
    width: 100%;
    content: "";
    display: block;
    height: 450px;
    position: absolute;
    top: 35%;
    -webkit-transform: skewY(5deg);
    -moz-transform: skewY(5deg);
    -ms-transform: skewY(5deg);
    -o-transform: skewY(5deg);
    transform: skewY(5deg);
    background-color: black;
    z-index: 2;
}

.link-container {
    width: 100%;
    height: 150px;
    background-color: transparent;
    position: fixed;
    margin-top: 100%;
    text-align: center;
    bottom: 0;
}

span.link-container-sp {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12pt;
    font-weight: bold;
    position: absolute;
    margin-top: 120px;
    margin-left: -60px;
    opacity: 0.7;
    transition: .5s;
    z-index: 2;
}

a.link-container-text {
    text-decoration: none;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20pt;
    font-weight: bold;
    position: absolute;
    margin-top: 80px;
    margin-left: -100px;
    opacity: 0.7;
    transition: .5s;
    z-index: 2;
}

a.link-container-text:hover {
    opacity: 1;
    transition: .5s;
}

#backshape {
    z-index: 1;
    display: block;
    float: left;
    margin-top: -100px;
    width: 100%;
    background: rgba(0, 0, 0, 0.45);
    transform: skew(0deg, 5deg);
    -ms-transform: skew(0deg, 5deg);
    -webkit-transform: skew(0deg, 5deg);
}

#backshape .wrapper {
    display: block;
    float: left;
    margin: 500px auto 200px;
    width: 100%;
    padding: 0 5%;
    color: white;
}

#go-top {
    opacity: 0;
    cursor: default;
    transition: opacity 0.3s ease-out;
}

#go-top.show {
    opacity: 1;
    cursor: pointer;
}

.go-top-position {
    bottom: 0;
    margin-left: -47%;
    margin-bottom: 3%;
    position: fixed;
    z-index: 3;
}

.wp-element {
    text-align: center;
    font-size: 70pt;
    bottom: 15%;
    opacity: 0.8;
    position: absolute;
}

@media screen and (max-width: 1280px) {
    body {
        background-size: cover;
    }
    .large-label {
        font-size: 74pt;
        margin-top: 25%;
    }
    .btn {
        transform: scale(2);
        margin-left: 2%;
    }
    span.link-container-sp {
        font-size: 12pt;
    }
    a.link-container-text {
        font-size: 20pt;
    }
    .wp-element {
        font-size: 40pt;
        bottom: 30%;
    }
    #backshape .wrapper {
        margin: 1000px auto 200px;
    }
    .go-top-position {
        margin-left: -44.5%;
        margin-bottom: 4%;
    }
}

@media screen and (min-width: 1400px) {
    button.menu-element {
        margin-left: 2%;
        font-size: 22pt;
    }
}